.container-post {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

article p {
  text-align: justify!important;
}

article img {
  width: 100%;
  height: auto;
}

article header img {
  width: 60px;
  height: 60px;
}

aside > nav h2 {
  font-size: 1.2rem;
  color:  #1c74b2;
}

.categories
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding: 0;
}

.author
{
	display: inline-block;
	margin-top: 10px;
}

.author a
{
	opacity: 0.9;
}

.author a:hover
{
	opacity: 1;
}

figure
{
	margin: 8px;
	padding: 0;
}

figcaption
{
	margin-top: 8px;
	padding: 0;
}

.entries
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 40px;
}

#newest
{
	background-color: #191d21;
}

.entry
{
	background-color: #222930;
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
	border-radius: 5px;
}

.entryimg
{
	display: inline-block;
	margin-left: 30px;
	width: 110px;
}

.entryimg img
{
	width: 70px;
	height: 70px;
}

.entrytxt
{
	display: inline-block;
	width: 750px;
	font-size: 15px;
}

.bluebutton
{
	background-color: #1c74b2;
	padding: 15px;
	color: #efefef;
	font-size: 19px;
	text-decoration: none;
	border-radius: 5px;
	min-width: 300px;
}
/*
.socials
{
	width:100%;
	text-align: center;
	background-color: #191d21;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}

*/

.west
{
	width: 70%;
	padding: 20px 0;
}

.east
{
  width: 24%;
  padding: 20px;
}

aside > nav > ul {
  margin: 20px 0!important;
  list-style-type: disc;
}

aside > nav > ul li {
  display: block;
  margin-bottom: 5px;
}

.west h1
{
	font-size: 32px;
	font-weight: 400;
	color: #39a5f1;
	margin-bottom: 20px;
}

aside > nav ul
{
	padding-left: 20px;
}

aside > nav img
{
	margin-top: 15px;
}

@media (max-width: 600px) {
	.east {
    display: none;
	}
	
	.west {
		width: 100%;
	}
}